*
{
    margin                  : 0px;
    padding                 : 0px;
}
/*
 * --------------------------------------------------------------------------- *
 */
body
{
    min-width               : 720px;
    font-family             : 'Times New Roman';
}
/*
 * --------------------------------------------------------------------------- *
 */
a
{
    color                   : #333;
}
/* 
 * --------------------------------------------------------------------------- *
 */
a:hover
{
    color                   : #F15A23;
}
/* 
 * --------------------------------------------------------------------------- *
 */
.reset
{
    list-style              : none;
}
/*
 * --------------------------------------------------------------------------- *
 *                              HEADER
 * --------------------------------------------------------------------------- *
 */
header
{
    height                  : 170px;
    border-bottom           : 2px solid #3A3A3A;
}
/*
 * --------------------------------------------------------------------------- *
 *                              USERPANEL
 * --------------------------------------------------------------------------- *
 */
 #userpanel
{
    background              : url(../images/userpanel/userpanel.png) repeat-x;
    height                  : 32px;
    width                   : 100%;
    position                : relative;
}
/*
 * --------------------------------------------------------------------------- *
 *                              FIRST UL
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul
{
    position                : absolute;
    right                   : 10px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li
{
    position                : relative;
    display                 : inline-block;
    padding-top             : 3px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li > a
{
    text-decoration         : none;
    padding-right           : 20px;
    padding-left            : 5px;
}
/*
 * --------------------------------------------------------------------------- *
 *                              BUTTON
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li.button
{
    top                     : 2px;
    color                   : #FFF;
    padding                 : 3px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li.button > a
{
    text-decoration         : none;
    padding                 : 0px;
    color                   : #FFF;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li.button:hover
{
    background              : #F15A23;
    
    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li.button:hover > a
{
    color                   : #000;
    
    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 *                              BUTTON END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              MESSAGES
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > a
{
    background              : url(../images/userpanel/messages.png) no-repeat;
    margin-left             : 5px;
    margin-right            : 5px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages:hover > a
{
    background              : url(../images/userpanel/messages_big.png) no-repeat;
    padding-top             : 1px;
    padding-right           : 24px;
    margin-right            : 3px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > a#new
{
    background              : url(../images/userpanel/new_messages.png) no-repeat;
    margin-left             : 5px;
    margin-right            : 5px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages:hover > a#new
{
    background              : url(../images/userpanel/new_messages_big.png) no-repeat;
    padding-top             : 1px;
    padding-right           : 24px;
    margin-right            : 3px;
}
/*
 * --------------------------------------------------------------------------- *
 *                              SECOND UL
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul
{
    position                : absolute;
    margin-left             : -80px;
    visibility              : hidden;
    opacity                 : 0;
    z-index                 : 5;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    transition              : all 100ms linear;

    -webkit-text-shadow     : 0px 1px 10px rgba(0, 0, 0, 0.6);
    -moz-text-shadow        : 0px 1px 10px rgba(0, 0, 0, 0.6);
    text-shadow             : 0px 1px 10px rgba(0, 0, 0, 0.6);
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages:hover > ul
{
    opacity                 : 1;
    visibility              : visible;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul:after
{
    position                : absolute;
    background              : #3A3A3A;
    top                     : -2.5px;
    right                   : 20px;
    display                 : block;
    content                 : "";
    width                   : 5px;
    height                  : 5px;
    margin-left             : -2.5px;
    z-index                 : -1;

    -webkit-transform       : rotate(45deg);
    -moz-transform          : rotate(45deg);
    -ms-transform           : rotate(45deg);
    -o-transform            : rotate(45deg);
    transform               : rotate(45deg);
    
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul > li
{
    background              : #3A3A3A;
    width                   : 120px;
    height                  : 22px;
    display                 : block;
    border-top              : 1px solid #4C4C4C;
    border-bottom           : 1px solid #252525;
    margin                  : 0px;

    -webkit-box-shadow      : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -moz-box-shadow         : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -o-box-shadow           : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -ms-box-shadow          : 0px 10px 40px rgba(0, 0, 0, 0.5);
    box-shadow              : 0px 10px 40px rgba(0, 0, 0, 0.5);
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul > li:first-child
{
    border-top              : 1px solid #3A3A3A;

    -webkit-border-radius   : 10px 10px 0px 0px;
    -moz-border-radius      : 10px 10px 0px 0px;
    -o-border-radius        : 10px 10px 0px 0px;
    -ms-border-radius       : 10px 10px 0px 0px;
    border-radius           : 10px 10px 0px 0px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul > li:last-child
{
    -webkit-border-radius   : 0px 0px 10px 10px;
    -moz-border-radius      : 0px 0px 10px 10px;
    -o-border-radius        : 0px 0px 10px 10px;
    -ms-border-radius       : 0px 0px 10px 10px;
    border-radius           : 0px 0px 10px 10px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul > li:first-child:last-child
{
    -webkit-border-radius   : 10px 10px 10px 10px;
    -moz-border-radius      : 10px 10px 10px 10px;
    -o-border-radius        : 10px 10px 10px 10px;
    -ms-border-radius       : 10px 10px 10px 10px;
    border-radius           : 10px 10px 10px 10px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul > li:hover
{
    background              : #4C4C4C;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul > li > a
{
    display                 : block;
    padding-left            : 10px;
    color                   : #FFF;
    text-align              : left;
    font-size               : 16px;
    font-style              : normal;
    text-decoration         : none;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#messages > ul > li.new > a
{
    color                  : #F15A23;
}
/*
 * --------------------------------------------------------------------------- *
 *                              SECOND UL END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              MESSAGES END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              USER PROFILE
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > a
{
    position                : relative;
    right                   : 5px;
    padding-left            : 5px;
    padding-right           : 5px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > a > #nickname
{
    position                : relative;
    top                     : -3px;
    color                   : #FFF;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile:hover > a > #nickname
{
    color                   : #F15A23;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > a > img
{
    position                : relative;
    top                     : 2px;
    width                   : 20px;
    height                  : 20px;
    border                  : 0px;
    background              : #FFF;

    -webkit-border-radius   : 3px;
    -moz-border-radius      : 3px;
    -o-border-radius        : 3px;
    -ms-border-radius       : 3px;
    border-radius           : 3px;
}
/*
 * --------------------------------------------------------------------------- *
 *                              SECOND BLOCK
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card
{
    position                : absolute;
    height                  : 150px;
    width                   : 300px;
    right                   : 5px;
    opacity                 : 0;
    visibility              : hidden;
    background              : #3A3A3A;
    z-index                 : 5;

    -webkit-box-shadow      : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -moz-box-shadow         : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -o-box-shadow           : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -ms-box-shadow          : 0px 10px 40px rgba(0, 0, 0, 0.5);
    box-shadow              : 0px 10px 40px rgba(0, 0, 0, 0.5);

    -webkit-border-radius   : 10px;
    -moz-border-radius      : 10px;
    -o-border-radius        : 10px;
    -ms-border-radius       : 10px;
    border-radius           : 10px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card:after
{
    position                : absolute;
    background              : #3A3A3A;
    top                     : -2.5px;
    right                   : 25px;
    display                 : block;
    content                 : "";
    width                   : 5px;
    height                  : 5px;
    margin-left             : -2.5px;
    z-index                 : -1;

    -webkit-transform       : rotate(45deg);
    -moz-transform          : rotate(45deg);
    -ms-transform           : rotate(45deg);
    -o-transform            : rotate(45deg);
    transform               : rotate(45deg);
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile:hover > #card
{
    opacity                 : 1;
    visibility              : visible;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card > #avatar
{
    position                : absolute;
    background              : #FFF;
    width                   : 80px;
    height                  : 80px;
    top                     : 10px;
    right                   : 10px;

    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
    -o-border-radius        : 5px;
    -ms-border-radius       : 5px;
    border-radius           : 5px;

    -webkit-box-shadow      : 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow         : 0px 2px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow           : 0px 2px 5px rgba(0, 0, 0, 0.5);
    -ms-box-shadow          : 0px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow              : 0px 2px 5px rgba(0, 0, 0, 0.5);
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card > #avatar > a > img
{
    position                : absolute;   
    width                   : 80px;
    height                  : 80px

    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
    -o-border-radius        : 5px;
    -ms-border-radius       : 5px;
    border-radius           : 5px;
;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card > #nickname
{
    position                : absolute;
    top                     : 5px;
    left                    : 15px;
    color                   : #FFF;
    font-size               : 20pt;

    -webkit-text-shadow     : 0px 1px 10px rgba(0, 0, 0, 0.6);
    -moz-text-shadow        : 0px 1px 10px rgba(0, 0, 0, 0.6);
    -o-text-shadow          : 0px 1px 10px rgba(0, 0, 0, 0.6);
    -ms-text-shadow         : 0px 1px 10px rgba(0, 0, 0, 0.6);
    text-shadow             : 0px 1px 10px rgba(0, 0, 0, 0.6);
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card > #user_group
{
    position                : absolute;
    right                   : 95px;
    top                     : 32px;
    color                   : #FFF;
    font-size               : 12pt;
    font-style              : italic;

    -webkit-text-shadow     : 0px 1px 10px rgba(0, 0, 0, 0.6);
    -moz-text-shadow        : 0px 1px 10px rgba(0, 0, 0, 0.6);
    -o-text-shadow          : 0px 1px 10px rgba(0, 0, 0, 0.6);
    -ms-text-shadow         : 0px 1px 10px rgba(0, 0, 0, 0.6);
    text-shadow             : 0px 1px 10px rgba(0, 0, 0, 0.6);
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card > #logout
{
    position                : absolute;
    right                   : 16px;
    bottom                  : 15px;
    font-size               : 15pt;
    padding                 : 3px;
    padding-right           : 4px;
    border                  : 2px solid #F15A23;

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;

}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card > #logout:hover
{
    background              : #F15A23;

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#userpanel > ul > li#userprofile > #card > #logout > a
{
    text-decoration         : none;
    color                   : #FFF;
    display                 : block;
}
/*
 * --------------------------------------------------------------------------- *
 *                              SECOND BLOCK END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              USER PROFILE END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              FIRST UL END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              USERPANEL END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              LOGO
 * --------------------------------------------------------------------------- *
 */
#logo > a
{
    position                : absolute;
    background              : url(../images/logo.png) no-repeat;
    width                   : 266px;
    height                  : 103px;
    left                    : 10%;
    top                     : 50px;
}
/*
 * --------------------------------------------------------------------------- *
 *                              LOGO END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              MENU
 * --------------------------------------------------------------------------- *
 */
#menu
{
    position                : relative;
}
/*
 * --------------------------------------------------------------------------- *
 *                              FIRST UL
 * --------------------------------------------------------------------------- *
*/
#menu > ul
{
    position                : absolute;
    right                   : 60px;
    top                     : 108px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li
{
    position                : relative;
    display                 : inline-block;
    height                  : 28px;
    margin-right            : -4px;
    border-top              : 2px solid #F15A23;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li:first-child
{
    border-left             : 2px solid #F15A23;

    -webkit-border-radius   : 5px 0px 0px 0px;
    -moz-border-radius      : 5px 0px 0px 0px;
    -o-border-radius        : 5px 0px 0px 0px;
    -ms-border-radius       : 5px 0px 0px 0px;
    border-radius           : 5px 0px 0px 0px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li:last-child
{
    border-right            : 2px solid #F15A23;

    -webkit-border-radius   : 0px 5px 0px 0px;
    -moz-border-radius      : 0px 5px 0px 0px;
    -o-border-radius        : 0px 5px 0px 0px;
    -ms-border-radius       : 0px 5px 0px 0px;
    border-radius           : 0px 5px 0px 0px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li:first-child:last-child
{
    -webkit-border-radius   : 5px 5px 0px 0px;
    -moz-border-radius      : 5px 5px 0px 0px;
    -o-border-radius        : 5px 5px 0px 0px;
    -ms-border-radius       : 5px 5px 0px 0px;
    border-radius           : 5px 5px 0px 0px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li > a
{
    display                 : block;
    position                : relative;
    margin                  : 0px 10px;
    top                     : 4px;
    text-decoration         : none;
    text-align              : center;
    color                   : #3A3A3A;
}
/*
 * FIXME
 * Разобраться с наведением на раздел - сделать полностью ссылкой
 * Раньше получалось через display:block;
 */
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li:hover
{
    border-top              : 2px solid #3A3A3A;
    background              : #F5F5F5;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li:first-child:hover
{
    border-left             : 2px solid #3A3A3A;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li:last-child:hover
{
    border-right            : 2px solid #3A3A3A;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li:hover > a
{
    color                   : #F15A23;
}
/*
 * --------------------------------------------------------------------------- *
 *                              FIRST UL END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              SECOND UL
 * --------------------------------------------------------------------------- *
 */
/*
 * FIXME
 * Ерунда с позоционированием.
 */
#menu > ul > li > ul
{
    position                : absolute;
    visibility              : hidden;
    left                    : -50%;
    opacity                 : 0;
    z-index                 : 1;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li > ul:after
{
    position                : absolute;
    top                     : 6.5px;
    left                    : 50%;
    background              : #3A3A3A;
    display                 : block;
    content                 : "";
    width                   : 5px;
    height                  : 5px;
    z-index                 : -1;

    -webkit-transform       : rotate(45deg);
    -moz-transform          : rotate(45deg);
    -o-transform            : rotate(45deg);
    -ms-transform           : rotate(45deg);
    transform               : rotate(45deg);
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li:hover > ul
{
    visibility              : visible;
    opacity                 : 1;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li > ul > li
{
    position                : relative;
    top                     : 9px;
    height                  : 28px;
    width                   : 150px;
    background              : #3A3A3A;
    display                 : block;
    border-top              : 1px solid #4C4C4C;
    border-bottom           : 1px solid #252525;

    -webkit-box-shadow      : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -moz-box-shadow         : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -o-box-shadow           : 0px 10px 40px rgba(0, 0, 0, 0.5);
    -ms-box-shadow          : 0px 10px 40px rgba(0, 0, 0, 0.5);
    box-shadow              : 0px 10px 40px rgba(0, 0, 0, 0.5);

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transform           : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li > ul > li:first-child
{
    border-top              : 1px solid #3A3A3A;
}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li > ul > li > a
{
    position                : relative;
    top                     : 4px;
    left                    : 8px;
    display                 : block;
    color                   : #FFF;
    text-decoration         : none;

}
/*
 * --------------------------------------------------------------------------- *
 */
#menu > ul > li > ul > li:hover
{
    background              : #F15A23;
    border-top              : 1px solid #F15A23;
    border-bottom           : 1px solid #F15A23;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transform           : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 *                              SECOND UL END
 * --------------------------------------------------------------------------- *
 */

/*
 * --------------------------------------------------------------------------- *
 *                              MENU END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              HEADER END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              CONTENT
 * --------------------------------------------------------------------------- *
 */
#content
{
    width                   : 80%;
    min-width               : 760px;
    margin                  : auto;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content .button
{
    text-align              : right;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border .button
{
    margin-top              : -25px;
    margin-bottom           : 5px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content .button > a
{
    position                : relative;
    font-size               : 20px;
    padding                 : 4px;
    background              : none;
    border                  : 2px solid #F15A23;
    color                   : #3A3A3A;
    text-decoration         : none;
    top                     : 10px;

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content .button > a:hover
{
    background              : #F15A23;
    color                   : #FFF;

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border
{
    border                  : 2px solid #3A3A3A;
    padding                 : 20px 40px 25px 25px;
    margin-top              : 20px;
    font-size               : 20px;
    overflow                : hidden;

    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
    -o-border-radius        : 5px;
    -ms-border-radius       : 5px;
    border-radius           : 5px;

    -webkit-transition      : all 250ms linear;
    -moz-transition         : all 250ms linear;
    -o-transition           : all 250ms linear;
    -ms-transition          : all 250ms linear;
    transition              : all 250ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border:hover
{
    border                  : 2px solid #F15A23;

    -webkit-transition      : all 250ms linear;
    -moz-transition         : all 250ms linear;
    -o-transition           : all 250ms linear;
    -ms-transition          : all 250ms linear;
    transition              : all 250ms linear;

    -webkit-box-shadow      : 0px 1px 40px rgba(0, 0, 0, 0.5);
    -moz-box-shadow         : 0px 1px 40px rgba(0, 0, 0, 0.5);
    -o-box-shadow           : 0px 1px 40px rgba(0, 0, 0, 0.5);
    -ms-box-shadow          : 0px 1px 40px rgba(0, 0, 0, 0.5);
    box-shadow              : 0px 1px 40px rgba(0, 0, 0, 0.5);
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border img
{
    display                 : none;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > .title
{
    text-align              : right;
    margin-bottom           : 5px;
    color                   : #767676;
    font-size               : 26px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > .title > a
{
    color                   : #767676;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > .content_html_format
{
    font-size               : 18px;
    text-align              : justify;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .content_html_format > p,
#content > .border > .content_html_format > h1,
#content > .border > .content_html_format > h2,
#content > .border > .content_html_format > h3,
#content > .border > .content_html_format > h4,
#content > .border > .content_html_format > h5,
#content > .border > .content_html_format > h6
{
    padding-top             : 5px;
    padding-bottom          : 5px;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .content_html_format > p
{
    text-indent             : 20px;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .content_html_format > ul
{
    margin-left             : 20px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > .goto_cut > a
{
    color                   : #767676;
    font-size               : 16px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > .title > a:hover,
#content > .border > .goto_cut > a:hover
{
    color                   : #F15A23;
}
/* --------------------------------------------------------------------------- *
 *                              NOTIFY
 * --------------------------------------------------------------------------- *
 */
#content > .border > .notify
{
    background-image        : url(../images/notify.png);
    background-repeat       : no-repeat;
    height                  : 16px;
    font-size               : 16px;
    color                   : #F15A23;
    margin-bottom           : -20px;
    padding-left            : 25px; 
}
/*
 * --------------------------------------------------------------------------- *
 *                              NOTIFY END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              BORDER BOTTOM
 * --------------------------------------------------------------------------- *
 */
#content > .border > .bottom
{
    margin-bottom           : 25px;
}
/*
 * --------------------------------------------------------------------------- *
 *                              INFOPANEL
 * --------------------------------------------------------------------------- *
 */
#content > .border > .bottom > li > .infopanel
{
    position                : relative;
    border                  : 1px solid #767676;
    float                   : left;
    padding                 : 2px 3px 4px 3px;
    top                     : 7px;

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > .bottom > li > .infopanel > li
{
    margin-left             : 4px;
    font-size               : 16px;
    display                 : inline-block;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > .bottom > li > .infopanel > li:first-child
{
    margin-left             : 7px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > .bottom > li > .infopanel > li:last-child
{
    margin-right            : 7px;
}

/*
 * --------------------------------------------------------------------------- *
 *                              INFOPANEL END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              BORDER BOTTOM END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              INPUT FORM
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form
{
    position                : relative;
    left                    : 20px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form > li.input_block
{
    color                   : #3A3A3A;
    margin-top              : 10px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form > li.input_block > label.input_title
{
    font-size               : 16px;
    font-weight             : bold;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form > li.input_block > input,
#content > .border > form > ul.input_form > li.input_block > textarea
{
    font-size               : 0.8em;
    padding                 : 4px;
    border                  : 1px solid;
    border-color            : #848484 #C1C1C1 #E1E1E1 #C1C1C1;

    -webkit-border-radius   : 2px;
    -moz-border-radius      : 2px;
    -o-border-radius        : 2px;
    -ms-border-radius       : 2px;
    border-radius           : 2px;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form > li.input_block > .full_width
{
    width                   : 95%;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form > li.input_block > textarea
{
    resize                  : vertical;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form > li.input_block > .comment
{
    position                : relative;
    top                     : 5px;
    font-size               : 13px;
    font-weight             : none;
    color                   : #3A3A3A;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form > li.input_block > .comment > a
{
    color                   : #F15A23;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form  > .submit
{
    border                  : none;
    text-align              : center;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > .submit > input
{
    font-size               : 20px;
    padding                 : 4px;
    background              : none;
    border                  : 2px solid #F15A23;
    color                   : #3A3A3A;

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > .submit > input:hover
{
    background              : #F15A23;
    color                   : #FFF;

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;

    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    -ms-transition          : all 100ms linear;
    transition              : all 100ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 */
#content > .border > form > ul.input_form > li.input_block > .error_message
{
    margin-left             : 20px;
    color                   : #FF2400;
}
/*
 * --------------------------------------------------------------------------- *
 *                              INPUT FORM END
 * --------------------------------------------------------------------------- *
 */
/* --------------------------------------------------------------------------- *
 *                              FORUM
 * --------------------------------------------------------------------------- *
 */
#content > .border > .line
{
    padding                 : 10px;
    margin-top              : 2px;
    margin-bottom           : -10px;

    -webkit-border-radius   : 7px;
    -moz-border-radius      : 7px;
    -o-border-radius        : 7px;
    -ms-border-radius       : 7px;
    border-radius           : 7px;

    -webkit-transition      : all 200ms linear;
    -moz-transition         : all 200ms linear;
    -o-transition           : all 200ms linear;
    -ms-transition          : all 200ms linear;
    transition              : all 200ms linear;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .line:hover
{
    background              : #EEE;

    -webkit-transition      : all 200ms linear;
    -moz-transition         : all 200ms linear;
    -o-transition           : all 200ms linear;
    -ms-transition          : all 200ms linear;
    transition              : all 200ms linear;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .line > .line
{
    padding                 : 10px;
    margin                  : 2px 0px -10px 10px;

    -webkit-border-radius   : 7px;
    -moz-border-radius      : 7px;
    -o-border-radius        : 7px;
    -ms-border-radius       : 7px;
    border-radius           : 7px;

    -webkit-transition      : all 200ms linear;
    -moz-transition         : all 200ms linear;
    -o-transition           : all 200ms linear;
    -ms-transition          : all 200ms linear;
    transition              : all 200ms linear;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .line > .line:last-child
{
    margin-bottom           : 0px;
}
/* 
 * --------------------------------------------------------------------------- *
 */   
#content > .border > .line > .line:hover
{
    background              : #CCC;

    -webkit-transition      : all 200ms linear;
    -moz-transition         : all 200ms linear;
    -o-transition           : all 200ms linear;
    -ms-transition          : all 200ms linear;
    transition              : all 200ms linear;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .line .info
{
    position                : absolute;
    margin-top              : 5px;
    right                   : 15%;
    font-size               : 15px;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .line .info > .date
{
    font-style              : italic;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .line .info > .username
{
    font-weight             : bold; 
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content > .border > .line .info > .goto
{
    text-decoration         : none;
}
/*
 * --------------------------------------------------------------------------- *
 *                              FORUM END
 * --------------------------------------------------------------------------- *
 */
/* --------------------------------------------------------------------------- *
 *                              PAGE-NAV
 * --------------------------------------------------------------------------- *
 */
#content #page-nav
{
    text-align              : center;
    padding                 : 10px;
    margin-top              : 10px;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content #page-nav > #next-prev
{
    font-size               : 2em;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content #page-nav > #next-prev > a
{
    text-decoration         : none;
    padding-left            : 4px;
    padding-right           : 4px;

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;
    
    -webkit-transition      : all 100ms linear;
    -moz-transition         : all 100ms linear;
    -o-transition           : all 100ms linear;
    transition              : all 100ms linear;
}
/* 
 * --------------------------------------------------------------------------- *
 */
#content #page-nav > #next-prev > a:hover
{
    color                   : #FFF;
    background              : #F15A23;
    font-style              : none;
    

    -webkit-border-radius   : 4px;
    -moz-border-radius      : 4px;
    -o-border-radius        : 4px;
    -ms-border-radius       : 4px;
    border-radius           : 4px;

    -webkit-transition      : all 250ms linear;
    -moz-transition         : all 250ms linear;
    -o-transition           : all 250ms linear;
    transition              : all 250ms linear;
}
/*
 * --------------------------------------------------------------------------- *
 *                              PAGE-NAV END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              CONTENT END
 * --------------------------------------------------------------------------- *
 */
/*
 * --------------------------------------------------------------------------- *
 *                              FOOTER
 * --------------------------------------------------------------------------- *
 */
footer
{
    border-top              : 1px solid #767676;
    font-size               : 14px;
    text-align              : right;
    padding                 : 20px 50px 10px;
    margin-top              : 20px;
    color                   : #767676;
}
/*
 * --------------------------------------------------------------------------- *
 *                              FOOTER END
 * --------------------------------------------------------------------------- *
 */
